*{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(88,110,136,1) 100%);
}
.sign-up-card {
    width: 30rem;
    border-radius: 60px !important;
    padding: 35px;
}

h3{
    text-align: center;
}

.card-footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.table td+td {
    padding-left: 40px;
}

.btn-grad {
    background: transparent !important;
    width: 140px !important;
    margin: 0 auto !important;
    padding:4px 26px !important;
    justify-content: center !important;
    display:flex !important;
    text-align: center !important;
    text-transform: uppercase !important;
    transition: background 0.2s linear !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    outline: none !important;
    color: white !important;
    border-radius: 13px !important;
    border: 2px solid transparent !important;

}

.btn-grad:hover {
    background: transparent !important;
    border: 2px solid #a27ea8 !important;
    text-decoration: none !important;
    background-size: 200% auto !important;
    transition-duration: .2s !important;
}

